<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}信息</title>
</head>
<body>
    <div>
        <form action="{% url urlname %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="礼品名" required value="{{ warehouse.name }}" >
            <input type="text" name="introduction" placeholder="礼品简介" value="{{ warehouse.introduction }}">
            <input type="date" name="ondate" required value="{{ warehouse.ondate }}">
            <input type="text" name="storenum" placeholder="库存" required value="{{ warehouse.storenum }}">
            <select name="off">
                <option value="1">打折</option>
                <option value="0">不打折</option>
            </select>
            <input type="text" name="offcost" placeholder="折扣" value="{{ warehouse.offcost }}">
            <input type="text" name="hot" placeholder="热度" value="{{ warehouse.hot }}">
            <input type="text" name="price" placeholder="价格" required value="{{ warehouse.price }}">
            <input type="submit" value="保存">
        </form>
    </div>
</body>
</html>